


.navbar{
  background-color: #384955;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    border-radius: 0px;
}
.footer{
    background-color: #384955;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color:white
}
